# ======================== Elasticsearch Configuration =========================
cluster.name: uclv-elk-cluster
node.name: "{{ inventory_hostname }}"
node.roles: [ master, data ]

path.data: /mnt/datos
path.logs: /var/log/elasticsearch

bootstrap.memory_lock: true

# ---------------------------------- Network -----------------------------------
#network.host: "{{ inventory_hostname }}"

network.host: {{ ansible_default_ipv4.address }}
http.port: 9200
transport.port: 9300

# --------------------------------- Discovery ----------------------------------
discovery.seed_hosts:
{% for host in groups['elk'] %}
  - {{ hostvars[host]['ansible_default_ipv4']['address'] }}
{% endfor %}
cluster.initial_master_nodes:
  - {{ groups['elk'][0] }}
  - {{ groups['elk'][1] }}
  - {{ groups['elk'][2] }}
#----------------------- BEGIN SECURITY CONFIGURATION -----------------------
xpack.security.enabled: true
xpack.security.enrollment.enabled: true

# Encriptación entre nodos del clúster (Obligatorio)
xpack.security.transport.ssl.enabled: true
xpack.security.transport.ssl.verification_mode: certificate
xpack.security.transport.ssl.keystore.path: certs/transport.p12
xpack.security.transport.ssl.truststore.path: certs/transport.p12

# Encriptación HTTP API (Kibana/Logstash)
xpack.security.http.ssl.enabled: true
xpack.security.http.ssl.verification_mode: certificate
xpack.security.http.ssl.keystore.path: certs/transport.p12
xpack.security.http.ssl.truststore.path: certs/transport.p12
#----------------------- END SECURITY CONFIGURATION -------------------------