
output {
  elasticsearch {
    hosts => [
{% for host in logstash_elasticsearch_hosts %}
      "{% if logstash_ssl_enabled %}https{% else %}http{% endif %}://{{ host }}:{{ logstash_elasticsearch_port }}"{% if not loop.last %},{% endif %}
{% endfor %}
    ]
    index => "%{index_name}-%{indice_local}"
    user => "{{ logstash_elasticsearch_user }}"
    password => "{{ logstash_elasticsearch_password }}"
    ssl_enabled => {{ logstash_ssl_enabled | lower }}
    ssl_certificate_authorities => ["{{ logstash_ssl_ca }}"]
  }
}